* {
	font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

body {
	position: relative;
	z-index: 0;
	background-image: url('./piano-keyboard.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#div-nav {
	position: relative;
	z-index: 1;
	background-color: #fff;
}

nav {
    border: 2px solid #000;
    background-image: url('./piano-keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
}

ul {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

li {
    text-align: center;
    width: 100%;
    padding: .88em;
    transform: none;
}

li:hover {
    -webkit-background-clip: initial;
    transform: translateY(20%);
    box-shadow: inset -2px -2px 7px gray;
    transition: transform .75s;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    cursor: default;
    -webkit-text-fill-color: transparent;
}

#div-checkbox {
    margin: 1.5em auto;
    padding: .5em;
    background-color: #fff;
    display: inline-block;
}

.fond-rouge {
    padding: .2em;
    font-weight: bold;
    animation: intro 4s linear forwards;
}

@keyframes intro {
    0% {color: #fff; background-color: red; box-shadow: 5px 5px 10px orange;}
    50% {color: #000; background-color: yellow; box-shadow: 5px 5px 15px green;}
    100% {color: #fff; background-color: red; box-shadow: 5px 5px 5px blue;}
}