nav {
    box-sizing: border-box;
    border: 2px solid #000;
    background-image: url('./piano-keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

li {
    text-align: center;
    line-height: 35px;
    width: 100%;
}

label {
    font-weight: bold;
}

div.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5em auto;
}

li:first-of-type:hover {
    background-color: red;
}

li:nth-of-type(2):hover {
    background-color: orange;
}

li:nth-of-type(3):hover {
    background-color: yellow;
}

li:nth-of-type(4):hover {
    background-color: green;
}

li:nth-of-type(5):hover {
    background-color: blue;
}

li:nth-of-type(6):hover {
    background-color: indigo;
}

li:nth-of-type(7):hover {
    background-color: violet;
}

li:nth-of-type(3):hover a {
    color: #000;
}

li:hover a {
    background-color: initial;
    color: #fff;
}

a {
    color: yellow;
    background-color: blue;
    text-decoration: none;
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.2em;
    padding: .2em;
}

.fond-rouge {
    padding: .2em;
    animation: intro 4s linear forwards;
}
@keyframes intro {
    0% {color: #fff; background-color: red; box-shadow: 5px 5px 5px orange;}
    50% {color: #000; background-color: yellow; box-shadow: 5px 5px 5px green;}
    100% {color: #fff; background-color: red; box-shadow: 5px 5px 5px blue;}
}